@use '../../scss' as *;

.SaturationBox {
  border: medium solid black;
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;

  & + & {
    margin-top: 1vw;
  }

  p {
    height: 10vh;
    width: 20%;
    text-align: center;
  }

  @media screen and (min-width: 900px) {
    width: 45vw;
  }
}

.Red {
  @include boxSaturation($red-hsl);
}

.Yellow {
  @include boxSaturation($yellow-hsl);
}

.Orange {
  @include boxSaturation($orange-hsl);
}

.Green {
  @include boxSaturation($green-hsl);
}

.Blue {
  @include boxSaturation($blue-hsl);
}

.Purple {
  @include boxSaturation($purple-hsl);
}
