@use '../../scss' as *;

@mixin boxColors($boxColor) {
  p:nth-child(1) {
    background: hsl($boxColor, $sat-full, $light-mid);
  }

  p:nth-child(2) {
    background: hsl($boxColor, $sat-high, $light-mid);
  }

  p:nth-child(3) {
    background: hsl($boxColor, $sat-mid, $light-mid);
  }

  p:nth-child(4) {
    background: hsl($boxColor, $sat-low, $light-mid);
  }

  p:nth-child(5) {
    background: hsl($boxColor, $sat-none, $light-mid);
  }
}

.SaturationBox {
  color: white;
}

.Red {
  @include boxColors($red-hsl);
}

.Yellow {
  @include boxColors($yellow-hsl);
}

.Orange {
  @include boxColors($orange-hsl);
}

.Green {
  @include boxColors($green-hsl);
}

.Blue {
  @include boxColors($blue-hsl);
}

.Purple {
  @include boxColors($purple-hsl);
}
