@use '../../scss' as *;

// % allows me to make a grouping that can be passed (@extend) to any selector
%section-shared {
  border: thin dashed darkcyan;
  margin: 1rem;
  width: 75ch;
  color: darkmagenta;
}

// mixin allows me to make a grouping that can be passed (@extend) to any selector
// it also allows me to pass parameters into it
@mixin shadow($color: yellow) {
  box-shadow: 0 0 2vw 1vw $color;
  padding: 0.5vw;
}

.Home {
  background-color: lightblue;
  font-family: $main-font;

  header {
    border: thin dotted purple;
  }

  h3 {
    color: goldenrod;
  }

  section {
    @extend %section-shared;
  }

  section:nth-child(2) {
    @include shadow(green);
    background: $section-one-bkgd;
    font-family: $section-one-font;
  }

  section:nth-child(3) {
    @include shadow(blue);
    background: $section-two-bkgd;
    font-family: $section-two-font;
  }

  section:last-child {
    @include shadow();
    background: $section-three-bkgd;
    font-family: $section-three-font;
  }

  p {
    background: lightgray;
    margin: 1vw;
  }
}
