@use '../../scss/colors';

%section-shared {
  border: thin dashed darkcyan;
  margin: 1rem;
  color: darkmagenta;
}

.Home {
  background-color: lightblue;
  width: 75ch;

  header {
    border: thin dotted purple;
  }

  h3 {
    color: goldenrod;
  }

  section {
    @extend %section-shared;
  }

  section:nth-child(2) {
    background: red;
  }

  section:nth-child(3) {
    background: brown;
  }

  section:last-child {
    background: purple;
  }

  p {
    background: lightgray;
  }
}