$main-bkgd: pink;

$section-one-bkgd: red;
$section-two-bkgd: brown;
$section-three-bkgd: purple;

body {
  color: hsl(0, 59%, 41%); // brown
  color: hsl(0, 100%, 50%); //red
  color: hsl(39, 100%, 50%); //orange
  color: hsl(60, 100%, 50%); //yellow
  color: hsl(120, 100%, 25%); //green
  color: hsl(240, 100%, 50%); //blue
  color: hsl(300, 100%, 25%); //purple
}

$red-hsl: 0;
$orange-hsl: 39;
$yellow-hsl: 60;
$green-hsl: 120;
$blue-hsl: 240;
$purple-hsl: 300;

$sat-full: 100%;
$sat-high: 75%;
$sat-mid: 50%;
$sat-low: 25%;
$sat-none: 0%;

$light-full: 100%;
$light-high: 75%;
$light-mid: 50%;
$light-low: 25%;
$light-none: 0%;
